body .backgroud--navy {
  background-color: var(--background-navy-color, #072146);
  color: #fff;
}

.header__container {
  position: absolute;
  zoom: 1;
  width: 100%;
  display: block;
  z-index: 3;
  height: 88px;
}

.header__logo {
  width: auto;
  height: 88px;
}

.header__wrapper {
  width: auto;
}

.header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left;
}

.header__logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 16px;
  transition: all 0.33333s;
  transition-property: all;
  transition-duration: 0.33333s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
