body .backgroud--navy {
  background-color: var(--background-navy-color, #072146);
  color: #fff;
}

.spacer {
  float: right;
  margin: 35px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 40%;
  bottom: 30px;
  width: 25%; /* Full width */
  height: 150px; /* Full height */
  padding: 0 1rem;
  background-color: #fefefe;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

/* Modal Content */
.modal-content {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
}

.modal-content h3 {
  color: #1973b8;
  font-weight: 500;
  margin: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.volver {
  outline: none;
  background: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
}

.header__container {
  position: absolute;
  zoom: 1;
  width: 100%;
  display: block;
  z-index: 3;
  height: 88px;
}

.header__logo {
  width: auto;
  height: 88px;
}

.header__image {
  height: 40px;
  margin: 0;
}

.header__image {
  height: 20px;
  width: auto;
  will-change: height;
  margin: 0 auto;
  -webkit-transition: height 0.33333s;
  transition: height 0.33333s;
  max-width: none;
  display: inline-block;
}

.header__wrapper {
  width: auto;
  justify-content: space-between;
}

.wrapper__bbva {
  width: 100%;
  float: left;
  height: 88px;
}

.logo__bbva {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 16px;
  transition: all 0.33333s;
  transition-property: all;
  transition-duration: 0.33333s;
  transition-timing-function: ease;
  transition-delay: 0s;
  height: 88px;
  width: auto;
}

.logo__link {
  height: 88px;
  width: auto;
}
a {
  color: #1973b8;
  text-decoration: none;
}
