body .backgroud--navy {
  background-color: var(--background-navy-color, #072146);
  color: #fff;
}

.spacer {
  float: right;
  margin: 35px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  align-items: flex-end;
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  top: 70%;
  left: 40%;
  position: absolute;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.volver {
  outline: none;
  background: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
}

.header__container {
  position: absolute;
  zoom: 1;
  width: 100%;
  display: block;
  z-index: 3;
  height: 88px;
}

.header__logo {
  width: auto;
  height: 88px;
}

.header__image {
  height: 40px;
  margin: 0;
}

.header__image {
  height: 20px;
  width: auto;
  will-change: height;
  margin: 0 auto;
  -webkit-transition: height 0.33333s;
  transition: height 0.33333s;
  max-width: none;
  display: inline-block;
}

.header__wrapper {
  width: auto;
  justify-content: space-between;
}

.wrapper__bbva {
  width: 100%;
  float: left;
  height: 88px;
}



.logo__bbva {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 16px;
  transition: all 0.33333s;
  transition-property: all;
  transition-duration: 0.33333s;
  transition-timing-function: ease;
  transition-delay: 0s;
  height: 88px;
  width: auto;
}

.logo__link {
  height: 88px;
  width: auto;
}
a {
  color: #1973b8;
  text-decoration: none;
}
